extends layout.pug

block content
  .main
    .sidebar
      #user
        a.user__name(href="#") Lorem
        nav.menu
          a.menu__item(href="#", data-type="posts") Blog
          a.menu__item(href="#", data-type="albums") Albums
    .content
      h1#title Put your title here
      .preview__wrap
       